@import "@repo/design-system/styles/globals.css";

@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-twoslash/twoslash.css";
@import "./loaders.css";

:root {
  --fd-layout-width: 100vw;
}

.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: 14px;
}

g.main:has(> g.plot) > rect {
  display: none;
}

/* Mention styles */
.mention {
  @apply bg-primary/10 rounded-md px-1 font-mono text-sm font-semibold;
}

.code-inline {
  @apply bg-muted text-muted-foreground px-1.5 py-0.5 font-mono text-xs font-medium;
}

@keyframes text {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

.animate-text {
  animation: text 3s linear infinite;
}

@utility scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: var(--color-border) transparent;

  &::-webkit-scrollbar {
    width: 8px;
  }
}

@utility scrollbar-gutter-stable {
  scrollbar-gutter: stable;
}

@utility scrollbar-gutter-both {
  scrollbar-gutter: stable both-edges;
}